* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #3c3a39;
  padding: 20px;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar-logo {
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-left: 3px;
  font-family: "Inter", sans-serif;
  animation: 3s infinite  rotation 0s;
}

nav {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 250ms height ease-in-out;
}

.hidden {
  display: none;
}

.line {
  display: block;
  width: 100%;
  background-color: #6f6c6b;
  height: 1px;
}

.nav-links {
  list-style-type: none;
}

.nav-link {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding-top: 20px;
  margin-left: 20px;
  color: #fff5e1;
  text-decoration: none;
}

.nav-link img {
  display: none;
}

.menu {
  display: block;
  top: 1.2rem;
  right: 1rem;
  position: absolute;
  width: 30px;
  filter: invert(100%);
  cursor: pointer;
}

.headline-section {
  background-color: #131110;
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: right bottom;
  background-image: url(images/illustration-header-mobile.png);
  background-repeat: no-repeat;
}

.headline-section-wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
}

.headline-title {
  color: #f55800;
  font-size: 50px;
  font-family: "Crete Round", serif;
  font-weight: 400;
}

.headline-professional {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.headline-description {
  color: #f4f5f7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  margin-right: 65px;
}

.headline-links {
  display: flex;
  align-items: center;
}

.headline-links li {
  list-style-type: none;
}

.headline-link {
  margin-right: 10px;
}

.works-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  color: #1c1a19;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}

.works-title-line {
  width: 90%;
  height: 2px;
  background-color: #c7c7c7;
  margin: 50px auto;
}

.works-wrapper {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr;
}

.main-project-wrapper {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.main-project-img {
  cursor: pointer;
  width: 100%;
}

.main-project-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: #091e42;
  margin: 25px 0;
}

.main-project-description {
  font-family: "Inter", sans-serif;
  color: #091e42;
}

.main-project-tags {
  display: flex;
  margin: 10px 0;
  list-style-type: none;
}

.main-project-tag {
  font-family: "Inter", sans-serif;
  color: #091e42;
  margin: 10px 0;
  margin-right: 10px;
  font-size: 15px;
  border: 1px solid #8993a4;
  padding: 10px;
}

.see-project-btn {
  background-color: #ff6b00;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

.see-project-btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  transition: all 0.4s ease-out 0s;
}

.see-project-btn:focus {
  background-color: #ff6b00;
  color: white;
}

.see-project-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.art-printing-wrapper {
  height: 300px;
  background-image: url("images/other-projects.png");
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  margin: 0 24px;
}

.art-printing-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: white;
  margin: 0 0 20px 20px;
}

.art-printing-description {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0 0 20px 20px;
}

.art-printing-tags {
  display: flex;
  list-style-type: none;
}

.art-printing-tag {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 5px 0 20px 15px;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  padding: 10px;
}

.data-healthcare-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: white;
  margin: 0 0 20px 20px;
}

.data-healthcare-description {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0 0 20px 20px;
}

.data-healthcare-tags {
  display: flex;
  list-style-type: none;
}

.data-healthcare-tag {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 5px 0 20px 15px;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  padding: 10px;
}

.other-project-see-project-btn {
  background-color: #ff6b00;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0;
}

.other-project-see-project-btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
}

.other-project-see-project-btn:focus {
  background-color: #ff6b00;
  color: white;
}

.other-project-see-project-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.art-printing-see-project-btn {
  background-color: #ff6b00;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0;
}

.art-printing-see-project-btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
}

.art-printing-see-project-btn:focus {
  background-color: #ff6b00;
  color: white;
}

.art-printing-see-project-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.web-portfolio-wrapper {
  height: 300px;
  background-image: url("images/other-projects.png");
  display: flex;
  cursor: pointer;
  align-items: flex-end;
  margin: 0 24px;
}

.web-portfolio-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: white;
  margin: 0 0 20px 20px;
}

.web-portfolio-description {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0 0 20px 20px;
}

.web-portfolio-tags {
  display: flex;
  list-style-type: none;
}

.web-portfolio-tag {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 5px 0 20px 15px;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  padding: 10px;
}

.web-portfolio-see-project-btn {
  background-color: #ff6b00;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0;
}

.web-portfolio-see-project-btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
}

.web-portfolio-see-project-btn:focus {
  background-color: #ff6b00;
  color: white;
}

.web-portfolio-see-project-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.about-me-section {
  margin-top: 100px;
  width: 100%;
  height: 80%;
  background-color: #1c1a19;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  background-position: 100% 20%;
  background-image: url(images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
}

.about-me-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 72px;
  color: #ff6b00;
  margin: 0 0 20px 20px;
}

.about-me-description-mobile {
  color: white;
  font-family: "inter", sans-serif;
  font-size: 18px;
  padding: 0 20px;
  margin-right: 60px;
}

.about-me-description {
  display: none;
  color: white;
  font-family: "inter", sans-serif;
  font-size: 18px;
  padding: 0 20px;
  margin-right: 60px;
}

.get-my-resume-btn {
  background-color: #ff6b00;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: 20px 20px;
  display: block;
  width: 130px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
}

.get-my-resume-btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  transition: all 0.4s ease-in 0s;
}

.get-my-resume-btn:focus {
  background-color: #ff6b00;
  color: white;
}

.get-my-resume-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.about-me-illustration {
  position: absolute;
  right: -200;
  bottom: 0;
  width: 300px;
}

.skills-section {
  width: 100%;
  background-color: #1c1a19;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me-line {
  width: 90%;
  height: 1px;
  margin: 220px auto 50px auto;
  background-color: #5c5c69;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "inter", sans-serif;
  font-size: 32px;
  color: white;
  list-style-type: none;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding-top: 40px;
}

.skill-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.skill-title-svg {
  margin-right: 10px;
}

.skill {
  font-weight: 400;
  font-size: 22px;
  margin-top: 10px;
  padding-top: 25px;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 100%;
  background-color: white;
}

.form-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 0 23px 0 25px;
}

input[type=text] {
  width: 87%;
  margin: 20px 23px 20px 25px;
  padding-left: 16px;
  border: none;
  border-bottom: 2px solid  #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 44px;
  color: #979493;
}

input[type=email] {
  width: 87%;
  margin: 0 23px 0 25px;
  padding-left: 16px;
  border: none;
  border-bottom: 2px solid  #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 44px;
  color: #979493;
}

textarea {
  width: 87%;
  height: 100px;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  background: #fbf8f7;
  margin: 10px 23px 0 25px;
  padding-left: 16px;
}

input[type=submit] {
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  cursor: pointer;
  background: #ff6b00;
  padding: 12px;
}

input[type=submit]:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  transition: all 0.4s ease-in 0s;
}

input[type=submit]:focus {
  background-color: #ff6b00;
  color: white;
}

input[type=submit]:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.contact-form-button {
  display: flex;
  justify-content: center;
}

.footer-section {
  margin: 20px 0;
  border-top: 1px solid #dfe1e6;
}

#footer-section-wrapper {
  margin-top: 25px;
  margin-bottom: 47px;
  display: flex;
  justify-content: center;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links li {
  list-style-type: none;
}

.footer-link {
  margin: 0 20px 20px 10px;
}

.footer-line {
  background: #0d151e;
  border-radius: 10px;
  height: 5px;
  width: 40%;
  margin-left: 150px;
  margin-bottom: 10px;
}

.open {
  height: 100vh;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(6px);
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  z-index: 9999;
}

.modal-content {
  top: 0%;
  left: 0%;
  width: 450px;
  height: 92%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid #dfe1e6;
  opacity: 1;
}

.close {
  position: relative;
  top: 120px;
  left: 340px;
  font-size: 42px;
  cursor: pointer;
  transform: rotate(45deg);
}

.image {
  margin-left: 25px;
}

.main-project {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: #091e42;
  margin: 20px 25px -20px 25px;
}

.main-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 25px;
  color: #344563;
}

.modal-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 25px;
  color: #344563;
}

.main-tags {
  display: flex;
  margin: 10px 25px;
  list-style-type: none;
}

.main-tag {
  font-family: "Inter", sans-serif;
  color: #091e42;
  margin: 10px 0;
  margin-right: 10px;
  font-size: 15px;
  border: 1px solid #8993a4;
  padding: 10px;
}

.button {
  display: flex;
  margin-bottom: 20px;
}

.img-btn {
  margin-left: 25px;
}

.see-btn {
  display: flex;
  justify-content: space-between;
  background-color: #ff6b00;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  padding: 13px 30px 13px 30px;
  border: none;
  margin-left: 25px;
  cursor: pointer;
}

.see-btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  transition: all 0.4s ease-out 0s;
}

.see-btn:focus {
  background-color: #ff6b00;
  color: white;
}

.see-btn:disabled {
  background-color: #f39b80;
  color: #5b5957;
}

.error-message {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: red;
  padding-top: 20px;
  margin-left: 60px;
}

.sent-message {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: green;
  padding-top: 20px;
  margin-left: 80px;
}

@media only screen and (min-width: 1024px) {
  .error-message {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: red;
    padding-top: 20px;
    margin-left: -60px;
  }

  .sent-message {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: green;
    padding-top: 20px;
    margin-left: -60px;
  }

  .close {
    position: absolute;
    top: 70px;
    left: 1230px;
  }

  .modal {
    height: 100%;
  }

  .modal-content {
    width: 90%;
    height: 85%;
    overflow-y: hidden;
  }

  .main-project {
    margin: 20px 25px -16px 25px;
  }

  .main-tag {
    margin-bottom: 25px;
  }

  .image {
    width: 620px;
    height: 400px;
  }

  .main-description {
    margin-left: 660px;
    margin-top: -410px;
  }

  .modal-text {
    margin-left: 660px;
    margin-top: -10px;
  }

  .button {
    margin-left: 636px;
    margin-top: 178px;
  }

  .navbar {
    padding: 20px 20px;
  }

  .navbar-wrapper {
    display: flex;
    flex-direction: row;
  }

  nav {
    height: 20%;
  }

  .navbar-logo {
    margin-left: 35px;
    margin-top: 20px;
    width: 100px;
  }

  .menu {
    display: none;
  }

  .line {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 750px;
  }

  .nav-link img {
    display: block;
  }

  .nav-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .headline-section {
    justify-content: flex-start;
    background-image: url(images/illustration-header.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .headline-section-wrapper {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .headline-title {
    font-size: 72px;
  }

  .headline-professional {
    font-size: 32px;
  }

  .headline-description {
    color: #f4f5f7;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 32px;
    font-size: 16px;
    margin-left: 5px;
  }

  .headline-links {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-right: 55px;
    margin-left: -75px;
  }

  .headline-link-img {
    margin-top: 10px;
  }

  .headline-link-img:hover {
    transform: scale(2);
  }

  .works-section {
    max-width: 1100px;
    margin: 100px auto;
  }

  .works-title-wrapper {
    display: flex;
    margin: 20px 0;
  }

  .works-title-line {
    width: 68%;
    margin: auto;
    margin-right: -20px;
  }

  .works-title {
    font-size: 40px;
    margin: auto;
    margin-left: 5px;
  }

  .works-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }

  .main-project-wrapper {
    grid-column: 1 / span 2;
    flex-direction: row;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .main-project-img {
    margin-top: 80px;
    margin-left: 5px;
    width: 600px;
    height: 450px;
  }

  .main-project-img:hover {
    translate: -30px;
    transform: scale(1.1);
    transition: all 0.4s ease-in 0s;
  }

  .main-project-title {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    color: #091e42;
    margin: 80px 0 0 20px;
  }

  .main-project-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 550px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    margin: 20px 40px 0 20px;
    padding-right: 152px;
  }

  .main-project-tags {
    margin: 20px 0 0 20px;
  }

  .art-printing-wrapper {
    display: flex;
    align-items: flex-end;
    background-image: url("images/art-printing.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid lightskyblue;
    height: 400px;
    width: 360px;
    margin-left: 2px;
    margin-top: -24px;
  }

  .project-card:hover {
    transform: scale(1.2);
    transition: all 0.4s ease-in 0s;
  }

  .art-printing-title {
    display: none;
  }

  .art-printing-description {
    display: none;
  }

  .art-printing-see-project-btn {
    background-color: #ff6b00;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 354px;
    display: flex;
    text-align: center;
    padding: 20px 125px;
  }

  .art-printing-see-project-btn:hover {
    background-color: #fff5e1;
    color: #ff6b00;
    transition: all 0.4s ease-in-out 0s;
  }

  .art-printing-see-project-btn:focus {
    background-color: #ff6b00;
    color: white;
  }

  .art-printing-see-project-btn:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
  }

  .web-portfolio-wrapper {
    background-image: url("images/web-portfolio.png");
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid lightskyblue;
    height: 400px;
    width: 360px;
    margin-left: -57px;
    margin-top: -24px;
  }

  .web-portfolio-title {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 32px;
    color: white;
    margin: 200px 0 20px 20px;
  }

  .web-portfolio-description {
    font-family: "Inter", sans-serif;
    color: white;
    margin: 0 0 20px 20px;
  }

  .web-portfolio-tags {
    display: flex;
    list-style-type: none;
  }

  .web-portfolio-tag {
    font-family: "Inter", sans-serif;
    color: white;
    margin: 5px 0 20px 15px;
    font-size: 15px;
    line-height: 20px;
    background: rgba(255, 255, 255, 0.24);
    padding: 10px;
  }

  .other-project-see-project-btn {
    display: none;
  }

  .see-project-btn {
    margin: 20px 0 0 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    width: 130px;
    padding: 12px;
  }

  .about-me-section {
    background-image: url(images/illustration-aboutme.svg);
    background-repeat: no-repeat;
    background-position: 100% 12%;
    margin-top: 100px;
    width: 100%;
    height: 1150px;
    background-color: #1c1a19;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    overflow: hidden;
  }

  .about-me-title {
    margin: 70px 60px 20px 60px;
  }

  .about-me-description-mobile {
    display: none;
  }

  .about-me-description {
    display: block;
    color: white;
    font-family: "inter", sans-serif;
    font-size: 18px;
    padding: 0 20px;
    margin-right: 60px;
    width: 100%;
    margin-left: 40px;
    line-height: 32px;
  }

  .get-my-resume-btn {
    margin: 50px 60px;
  }

  .about-me-text-wrapper {
    width: 50%;
    margin-left: -132px;
  }

  .about-me-line {
    width: 100%;
    height: 2px;
    margin: 150px 0 50px -105px;
    background-color: #5c5c69;
  }

  .about-me-illustration {
    right: -150px;
    width: 600px;
  }

  .skills-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 50px 50px -70px;
  }

  .skill-wrapper {
    align-items: flex-start;
  }

  .form-section {
    margin-top: 130px;
  }

  .form-section-wrapper {
    display: flex;
  }

  .form-description {
    display: inline-block;
    text-align: left;
    margin: 0 100px 0 120px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    color: #262626;
  }

  .contact-form {
    display: inline-block;
  }

  form input:hover {
    padding-left: 30px;
    transition: all 0.4s ease-in-out 0s;
  }

  input[type=text],
  input[type=email] {
    line-height: 44px;
    width: 140%;
    margin-left: -60px;
  }

  textarea {
    width: 140%;
    margin-left: -60px;
  }

  form textarea:hover {
    padding-left: 30px;
    transition: all 0.4s ease-in-out 0s;
  }

  input[type=submit] {
    margin-left: -60px;
    margin-right: 420px;
  }

  .contact-form-button {
    display: flex;
    justify-content: start;
  }

  .form-line {
    margin-top: 180px;
    margin-bottom: -80px;
  }

  .footer-section {
    margin-bottom: -30px;
  }

  .footer-line {
    display: none;
  }

  .footer-link {
    margin: 10px 20px 20px 10px;
  }

  .footer-link-img:hover {
    transform: scale(2);
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
      color: lightcyan;
    }

    to {
      transform: rotate(360deg);
      color: white;
    }
  }
}

@media only screen and (min-width: 1008px) {
  .navbar {
    padding: 10px 100px;
  }

  .headline-section-wrapper {
    padding-left: 100px;
  }

  .works-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-project-wrapper {
    grid-column: 1 / span 3;
  }

  .about-me-section {
    padding-left: 200px;
  }
}
