* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #3c3a39;
  padding: 20px;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: "Inter", sans-serif;
}

.nav-links {
  list-style-type: none;
}

.nav-link {
  display: none;
}

.menu {
  width: 30px;
  filter: invert(100%);
}

.headline-section {
  background-color: #131110;
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: right bottom;
  background-image: url(images/illustration-header-mobile.png);
  background-repeat: no-repeat;
}

.headline-section-wrapper {
  padding: 20px;
}

.headline-title {
  color: #f55800;
  font-size: 50px;
  font-family: "Crete Round", serif;
  font-weight: 400;
}

.headline-professional {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.headline-description {
  color: #f4f5f7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  margin-right: 65px;
}

.headline-links {
  display: flex;
  align-items: center;
}

.headline-links li {
  list-style-type: none;
}

.headline-link {
  margin-right: 10px;
}

.works-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  color: #1c1a19;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}

.works-title-line {
  width: 90%;
  height: 2px;
  background-color: #c7c7c7;
  margin: 50px auto;
}

.works-wrapper {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr;
}

.main-project-wrapper {
  width: 325px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.main-project-img {
  width: 325px;
  margin: 0 auto;
}

.main-project-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: #091e42;
  margin: 25px 0;
}

.main-project-description {
  font-family: "Inter", sans-serif;
  color: #091e42;
}

.main-project-tags {
  display: flex;
  margin: 10px 0;
  list-style-type: none;
}

.main-project-tag {
  font-family: "Inter", sans-serif;
  color: #091e42;
  margin: 10px 0;
  margin-right: 10px;
  font-size: 15px;
  border: 1px solid #8993a4;
  padding: 10px;
}

.see-project-btn {
  background-color: #ff6b00;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

.see-project-btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
}

.see-project-btn:focus {
  background-color: #ff6b00;
  color: white;
}

.see-project-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.other-project-wrapper {
  width: 325px;
  height: 300px;
  margin: 0 auto;
  background-image: url("images/other-projects.png");
  display: flex;
  align-items: flex-end;
}

.other-project-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: white;
  margin: 0 0 20px 20px;
}

.other-project-description {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0 0 20px 20px;
}

.other-project-tags {
  display: flex;
  list-style-type: none;
}

.other-project-tag {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0 10px 20px 20px;
  font-size: 15px;
  background-color: #5c5c69;
  padding: 10px;
}

.other-project-see-project-btn {
  background-color: #ff6b00;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0;
}

.other-project-see-project-btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
}

.other-project-see-project-btn:focus {
  background-color: #ff6b00;
  color: white;
}

.other-project-see-project-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.about-me-section {
  margin-top: 100px;
  width: 100%;
  background-color: #1c1a19;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  background-position: right bottom;
  background-image: url(images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
}

.about-me-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 72px;
  color: #ff6b00;
  margin: 0 0 20px 20px;
}

.about-me-description {
  color: white;
  font-family: "inter", sans-serif;
  font-size: 18px;
  padding: 0 20px;
  margin-right: 60px;
}

.get-my-resume-btn {
  background-color: #ff6b00;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: 20px 20px;
  display: block;
  width: 130px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
}

.get-my-resume-btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
}

.get-my-resume-btn:focus {
  background-color: #ff6b00;
  color: white;
}

.get-my-resume-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.about-me-illustration {
  position: absolute;
  right: -200;
  bottom: 0;
  width: 300px;
}

.skills-section {
  width: 100%;
  background-color: #1c1a19;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me-line {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  background-color: #5c5c69;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "inter", sans-serif;
  font-size: 32px;
  color: white;
  list-style-type: none;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.skill-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.skill-title-svg {
  margin-right: 10px;
}

.skill {
  font-weight: 400;
  font-size: 22px;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 20px 20px;
  }

  .menu {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    color: white;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
  }

  .headline-section {
    justify-content: flex-start;
    background-image: url(images/illustration-header.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .headline-section-wrapper {
    width: 50%;
    padding-left: 20px;
  }

  .headline-title {
    font-size: 72px;
  }

  .headline-professional {
    font-size: 32px;
  }

  .headline-description {
    color: #f4f5f7;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 32px;
    font-size: 16px;
    margin-left: 5px;
  }

  .works-section {
    max-width: 1200px;
    margin: 0 auto;
  }

  .works-title-wrapper {
    display: flex;
    margin: 20px 0;
  }

  .works-title-line {
    width: 70%;
    margin: auto;
  }

  .works-title {
    font-size: 40px;
    margin: auto;
  }

  .works-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }

  .main-project-wrapper {
    grid-column: 1 / span 2;
    flex-direction: row;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .main-project-img {
    width: 484px;
  }

  .main-project-title {
    font-size: 40px;
    margin: 0 0 0 20px;
  }

  .main-project-description {
    font-size: 18px;
    margin: 0 0 0 20px;
  }

  .main-project-tags {
    margin: 20px 0 0 20px;
  }

  .see-project-btn {
    display: inline-block;
    margin: 20px 0 0 20px;
  }

  .about-me-section {
    justify-content: flex-start;
    background-image: url(images/illustration-aboutme.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 800px 15px;
  }

  .about-me-text-wrapper {
    padding-left: 20px;
    width: 50%;
  }

  .about-me-illustration {
    right: -150px;
    width: 600px;
  }

  .skills-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1008px) {
  .navbar {
    padding: 10px 100px;
  }

  .headline-section-wrapper {
    padding-left: 100px;
  }

  .works-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-project-wrapper {
    grid-column: 1 / span 3;
  }

  .about-me-section {
    padding-left: 200px;
  }
}
